 *.ilk
*.pdb
*.map
*.bsc
*.sdf
*.ipch
*.obj
*.sbr
*.manifest
*.pch
*.tlog
*.log
*.idb
*.opensdf
*.lastbuildstate
*.exe
*.dll
*.cache
*.exp
*.aps
*.iobj
Temp/duidemo/Debug/duidemo.res
Temp/duidemo/Debug/duidemo_d.exe.embed.manifest.res
Temp/duidemo/Debug/duidemo_d_manifest.rc
Lib/DuiLib_d.lib
*.suo
DuiLib.suo
*.user
*.suo
*.suo
*.res
Temp/duidemo/Debug/MFCApp_manifest.rc
*.unsuccessfulbuild
Temp
*.ilk
Demos/ADMonSetup/SDebug/
3rd/libcef_dll_wrapper/Lib/
DuiLib.VC.db
DuiLib2015.VC.db
DuiLib2015.sln
Demos/ADMonSetup/Debug/
.vs/