 *.ilk
*.pdb
*.map
*.bsc
*.sdf
*.ipch
*.obj
*.sbr
*.manifest
*.pch
*.tlog
*.log
*.idb
*.opensdf
*.lastbuildstate
*.exe
*.dll
*.cache
*.exp
*.aps
Temp/duidemo/Debug/duidemo.res
Temp/duidemo/Debug/duidemo_d.exe.embed.manifest.res
Temp/duidemo/Debug/duidemo_d_manifest.rc
Lib/DuiLib_d.lib
*.suo
DuiLib.suo
*.user
*.suo
*.suo
*.res
Temp/duidemo/Debug/MFCApp_manifest.rc
*.unsuccessfulbuild